<h1>Skill: <%= @skill.name %></h1>

<p><%= link_to "User", user_path(@user) %>
<p><%= link_to "Edit", edit_user_skill_path(@user, @skill) %>
<p><%= link_to "Delete", user_skill_path(@user, @skill),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>